$color-white:       #f1f8fc;
$color-blue:        #0074c7;
$color-blue-dark:   #00497c;
$color-blue-darker: #00203a;
$color-black:       #384050;
$color-red:         #cd2c2e;
$color-green:       #82b864;

$primary:   $color-blue;
$secondary: $color-blue-dark;
$danger:    $color-red;
$success:   $color-green;
$dark:      $color-black;
$light:     $color-white;

$font-family-base: 'Graphik', 'Inter', sans-serif;
